body{
  background-image: url('https://media.giphy.com/media/UYBDCJjwOd9Re/giphy.gif');
  font-size: 18pt;
}
button{
  background-color: rgb(219,224,78);
  color: rgb(111,70,150);
  font-family: 'lazenby_computersmooth';
  font-size: 24pt;
  margin: auto;
  display: block;
  border-radius: 5px;
  border: solid black 5px;
}
button.pickUp, button.delivery{
  background-color: rgb(219,224,78);
  color: rgb(111,70,150);
  font-family: 'lazenby_computersmooth';
  font-size: 24pt;
  border-radius: 5px;
  border: solid black 5px;
  margin: 20px;
  display: inline-block;
}
h2{
  font-family: 'lazenby_computersmooth';
  font-size: 24pt;
}
footer{
  font-family: 'lazenby_computersmooth';
  text-align:center;
  font-size: 12pt;
  background-color: rgb(219,224,78);
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  max-width: 50%;
  border-radius: 10px;
  border: solid black 3px;
}
marquee{
  background-color: black;
  color: rgb(219,224,78);
  font-family: 'lazenby_computersmooth';
  margin: auto;
  display: block;
  width: 80%;
}
select{
  width: 50%;
}
.jumbotron{
  background-color: black;
  color: rgb(219,224,78);
  font-family: 'aeroregular';
  width: 100%;
  text-align: center;
  border: 10px solid black;
  border-radius: 10px;
}
.jumbotron img{
  width: 20%;
  float: left;
}
.jumbotron h1{
  font-size: 54pt;
}
.container-xl{
  background-color: rgb(96,149,207);
}

.sizeColumn, .toppingsColumn, .pickUpOrDelivery, .pickUpForm, .deliveryForm{
  margin: 10px;
  display: block;
  padding: 10px;
  border: solid black 5px;
  border-radius: 10px;
  text-align: center;
}

#orderCart{
  display: none;
  margin: 20px;
  padding: 20px;
  border: solid black 5px;
  border-radius: 10px;
  text-align:center;
}
#orderCart img{
  width: 25%;
}
#orderCart ul{
  list-style-position: inside;
}
#orderCart li{
  list-style-image: url(/img/pizza.png);
}
#show-pizza{
  display: none;
}
div#pizzaSize{
  background-color: rgb(111,70,150);
}
div#pizzaToppings{
  background-color:rgb(219,224,78);
}

